extends layout

block content
  if user
    h2 Bienvenue, #{user} !
    button#addPlaylistBtn.btn(type="button") Ajouter une playlist
    form#playlistForm(action="/playlist/create" method="post" style="display: none;")
      div
        label(for="playlistName") Playlist Name : 
        input(type="text" id="playlistName" name="playlistName" required)
      div
        label(for="members") Members : 
        select(id="members" name="members" multiple)
          each user in users
            option(value=user.usr_id) #{user.usr_name}
      div
        button.btn(type="submit") Create Playlist
    h2 Your Playlists
    if playlists && playlists.length > 0
      ul
        each playlist in playlists
          li
            a(href="/playlist/#{playlist.pla_id}") #{playlist.pla_name}
    else
      p You don't have any playlists yet.
  else
    h2 Bienvenue sur MySoundList !
    p Vous n'êtes pas connecté. Veuillez vous 
      a(href="/login") connecter
      |  pour accéder à votre compte.
  script(src="/javascripts/home.js")